@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ProxymaNova";
  src: local("ProxymaNova"),
    url("styles/fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  font-family: "ProxymaNova";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
